.nav_list ul {
    width: 100%;
    min-height: 5vh;
    float: left;
    margin: 5px;
    padding: 5px;
    list-style: none;
    background-color: #ffffff;
    font-size: calc(5px + 2vmin);
}

.nav_list li {
    float: left;
}

.nav_list li a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    color: #000000;
    border-radius: 10px;
}

.nav_list li a:hover {
    color: #ffffff;
    background-color: #000000;
}