.nav_list ul {
    width: 100%;
    min-height: 5vh;
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #ffffff;
    font-size: calc(5px + 2vmin);
}

.nav_list li {
    float: left;
}

.nav_list li a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-family: "Helvetica Neue", serif;
    color: #000000;
    border-radius: 10px;
}

.nav_list li a:hover {
    color: #ffffff;
    background-color: #000000;
}